SITO/config_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="site">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="text" type="xs:string" minOccurs="0"/>
                            <xs:element name="title" type="xs:string" minOccurs="0"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="title" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="text" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="footer" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="label1" type="xs:string" minOccurs="0"/>
                                        <xs:element name="label2" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="menu" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="label" type="xs:string"/>
                                        <xs:element name="href" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
